#project-show
  .project{style: "background-image: url(#{@project.image})"}
    %h2=@project.title
    .overlay

  .client-solution-wrapper
    .client
      %h2 The Client
      %p.smooth-font=@project.client_text
    .solution
      %h2 Our Solution
      %p.smooth-font=@project.solution_text
    -# .project-images
    -#   -@project_images.each do |image|
    -#     .project-image
    -#       %img{src: image.image, alt: @project.title}
  .content
