@font-face {
  font-family: 'LeagueGothicCondensed';
  src: url('LeagueGothic-CondensedRegular.otf');
  src: url('https://s3-us-west-1.amazonaws.com/brand-activate/LeagueGothic-CondensedRegular.otf') format('opentype');
};

@font-face {
  font-family: 'LeagueGothic';
  // src: url('LeagueGothic-Regular.otf');
  src: url('https://s3-us-west-1.amazonaws.com/brand-activate/LeagueGothic-Regular.otf') format('opentype');
};

@font-face {
  font-family: 'Roboto';
  // src: url('Roboto-Regular.ttf');
  src: url('https://s3-us-west-1.amazonaws.com/brand-activate/Roboto-Regular.ttf') format('opentype');
};

@font-face {
  font-family: 'RobotoLight';
  // src: url('Roboto-Light.ttf');
  src: url('https://s3-us-west-1.amazonaws.com/brand-activate/Roboto-Light.ttf') format('opentype');
};
