@font-face {
  font-family: 'Lato';
  src: url('https://s3-us-west-1.amazonaws.com/power-strategies/fonts/Lato-Regular.ttf') format('opentype');
};
@font-face {
  font-family: 'Lato';
  src: url('https://s3-us-west-1.amazonaws.com/power-strategies/fonts/Lato-Regular.ttf') format('opentype');
};
@font-face {
  font-family: 'Lora';
  src: url('https://s3-us-west-1.amazonaws.com/power-strategies/fonts/Lora-Regular.ttf') format('opentype');
};
@font-face {
  font-family: 'Montserrat';
  src: url('https://s3-us-west-1.amazonaws.com/power-strategies/fonts/Montserrat-Regular.ttf') format('opentype');
};
