@import 'variables';

#about {
  display: block;
  width: 100%;

  #mission {
    background: $lightBrand;

    .content {
      padding: 5em 5em 8em;
      text-align: left;
      p {
        color: white;
        font-size: 1.3em;
        font-weight: 100;
      }
    }
  }
  #featured {
    display: inline-flex;

    .left, .right {
      width: 50%;
      display: inline-flex;
      text-align: left;
      flex-direction: column;
      justify-content: center;
    }
    .left img {
      width: 100%;
    }
    .right {
      padding: 5em 2em;
      h2 {
        text-transform: none;
      }
      p {
        font-size: 1.2em;
        color: $grey;
      }
    }
  }
  #services {
    .hero-banner {
      h1 {
        color: white;
      }
    }
    .content {
      padding: 3em;

      h1 {
        font-size: 3em;
        border: 0.05em solid black;
        padding: 0.5em 1em;
        display: inline-block;
        border: none;
      }
      h2 {
        font-weight: 500;
        font-size: 1.2em;
        text-transform: none;
      }
      p {
        font-size: 0.7em;
      }
      .services-list {
        display: inline-flex;
        padding: 3em;

        .service-item {
          padding:3em;
          img {
            width: 6em;
          }
        }
      }
      a.action-btn {
        color: white;
        background: rgba(211, 91, 81, 1);
        text-decoration: none;
        font-size: 0.5em;
        padding: 2em 6em;
        border-radius: 4em;
        font-weight: 100;
      }
    }
  }
}
