%h2
  ="New Request"
%hr

%b="Name:"
%p=@request.name
%br

%b="Email:"
%p=@request.email
%br

%b="Message:"
%p=@request.message
%br

%p
  ="Reply to it "
  =link_to "here", "mailto:#{@request.email}"
